

<div class="row" id="teacherhome">
  <!-- Dashboard body part -->
  <div class="col"></div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
  <div class="col"></div>
</div>


<!--Card for list of Quiz-->
<section class="dark container-fluid">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">QUIZ & CHALLENGES</h1>

    <article class="postcard dark green">
      <a class="postcard__img_link" routerLink="/blogdetails">
        <img class="postcard__img" src="../../../assets/img/science-club.jpg" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title green"><a routerLink="/blogdetails">Science Club</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>August 1, 2023
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Discover the wonders of biology in this nature-themed quiz! From ecosystems to cellular structures, this quiz will challenge your knowledge of the living world. Join the Science Club's quiz starting on August 1st and concluding on August 10th. Unleash your inner biologist and compete for the top spot!</div>
          <button data-testid="" class=""><img
            style="width: 25px; height: 25px; border-radius: 50%;" src="../../../assets/img/logo-coin.jpg"
            alt="CREDITS" class=""><span
            style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">40000</span></button>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>10</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>

        </ul>
      </div>
    </article>
    <article class="postcard dark green">
      <a class="postcard__img_link" routerLink="/blogdetails">
        <img class="postcard__img" src="../../../assets/img/language-institute.jpg" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title green"><a routerLink="/blogdetails">Language Learning Institute</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>September 15th 2023
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Language Learning Institute
          Quiz Description: Expand your Spanish vocabulary with this engaging quiz! Explore words and phrases related to various topics, including travel, food, and everyday life. Join the Language Learning Institute's quiz</div>
          <button data-testid="" class=""><img
            style="width: 25px; height: 25px; border-radius: 50%;" src="../../../assets/img/logo-coin.jpg"
            alt="CREDITS" class=""><span
            style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">6000</span></button>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>2</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>20 mins.</li>

        </ul>
      </div>
    </article>
    <article class="postcard dark green">
      <a class="postcard__img_link" routerLink="/blogdetails">
        <img class="postcard__img" src="../../../assets/img/History-Society.jpg" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title green"><a routerLink="/blogdetails">History Society</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Quiz Description: Embark on a journey through world history with this captivating quiz! From ancient civilizations to modern events, test your knowledge of significant milestones and influential figures.</div>
          <button data-testid="" class=""><img
            style="width: 25px; height: 25px; border-radius: 50%;" src="../../../assets/img/logo-coin.jpg"
            alt="CREDITS" class=""><span
            style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">30000</span></button>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>12</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>90 mins.</li>

        </ul>
      </div>
    </article>

    <!-- Quiz list Pagnation -->
    <div class="quizpagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">

      <ul class="quizpagination">
        <li class="quizpagination-item--wide first"> <a class="quizpagination-link--wide first" href="#">Previous</a>
        </li>
        <li class="quizpagination-item first-number"> <a class="quizpagination-link" href="#">1</a> </li>
        <li class="quizpagination-item"> <a class="quizpagination-link" href="#">2</a> </li>
        <li class="quizpagination-item is-active"> <a class="quizpagination-link" href="#">3</a> </li>
        <li class="quizpagination-item"> <a class="quizpagination-link" href="#">4</a> </li>
        <li class="quizpagination-item"> <a class="quizpagination-link" href="#">5</a> </li>
        <li class="quizpagination-item--wide last"> <a class="quizpagination-link--wide last" href="#">Next</a> </li>
      </ul>

    </div>
    <!--End of quiz list pagnation-->
  </div>
</section>

<!-- ======= Winners Boxes Section ======= -->
<section id="about-boxes" class="about-boxes">
  <div class="container">

    <div class="section-title">

      <p style="text-align: center;">ThetaQuest Winners</p>

    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div id="card-title">
            <h2 style="text-align: center;">Mary Larence</h2>
          </div>
          <img src="../../../assets/img/img1.jpeg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">
              <button data-testid="" class=""><img style="width: 25px; height: 25px; border-radius: 50%;"
                  src="../../../assets/img/logo-coin.jpg" alt="CREDITS" class=""><span
                  style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">8000</span></button>
            </h5>
            <p class="card-text"><b>Coding Academy:</b> <br>Sharpen your programming logic with this Python quiz! Solve coding problems, test your understanding of algorithms, and improve your problem-solving abilities.  </p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div id="card-title">
            <h2 style="text-align: center;">John Bassy</h2>
          </div>
          <img src="../../../assets/img/img1.jpeg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title"><button data-testid="" class=""><img
                  style="width: 25px; height: 25px; border-radius: 50%;" src="../../../assets/img/logo-coin.jpg"
                  alt="CREDITS" class=""><span
                  style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">2000</span></button>
            </h5>
            <p class="card-text"><b>Arts Club:</b> <br>  Immerse yourself in the world of art history with this intriguing quiz! From Renaissance masterpieces to contemporary art movements </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div id="card-title">
            <h2 style="text-align: center;">Brown smith</h2>
          </div>
          <img src="../../../assets/img/img1.jpeg" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title"><button data-testid="" class=""><img
                  style="width: 25px; height: 25px; border-radius: 50%;" src="../../../assets/img/logo-coin.jpg"
                  alt="CREDITS" class=""><span
                  style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">4000</span></button>
            </h5>
            <p class="card-text"><b>Geography Club:</b> <br>Embark on a global adventure with this exciting world geography quiz! Test your knowledge of continents, countries, capitals, and natural landmarks. </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Winner list Pagnation -->
    <div class="winnerpagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">

      <ul class="winnerpagination">
        <li class="winnerpagination-item--wide first"> <a class="winnerpagination-link--wide first"
            href="#">Previous</a> </li>
        <li class="winnerpagination-item first-number"> <a class="winnerpagination-link" href="#">1</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">2</a> </li>
        <li class="winnerpagination-item is-active"> <a class="winnerpagination-link" href="#">3</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">4</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">5</a> </li>
        <li class="winnerpagination-item--wide last"> <a class="winnerpagination-link--wide last" href="#">Next</a>
        </li>
      </ul>

    </div>
    <!--End of quiz list pagnation-->

  </div>
</section><!-- End Winners Boxes Section -->