<div class="container-fluid">


  <!-- video section start -->

</div>




<!--Card for list of Quiz-->
<section class="dark">
  <div class="container py-4">
    <article class="postcard dark green">
      <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title green"><a href="#">Amazon Quiz</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat
          asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium
          maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto
          quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-play mr-2"></i>4000</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li style="background-color: #004a54; color: azure;" class="tag__item play green">
            <a href="#"><i class="fas fa-tag mr-2"></i>START QUIZ</a>
          </li>
        </ul>
      </div>
    </article>

    <div class="card-content">
      <h1 style="color: azure;" class="card-title">Exhilarating to Watch</h1>
      <p>Shaking up the Australian blues scene, award-winning international artist Zee Gachette will be setting the
        stage alight with her high octane energy modern blues, psyche rock, folk n’ funk. Zee’s inimitable talent for
        improvising onstage is simply exhilarating to watch, inspiring standing ovations from music legends like Jimmy
        Page (Led Zeppelin), Roger Daltrey (The Who) and Amy Winehouse. A show not to be missed!
      </p>
    </div>


  </div>
</section>


<section class="blogdetails">
  <div class="container">
    <div class="section-title">

      <p style="text-align: center;">More content about the quiz</p>

    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="280" height="157" src="https://www.youtube.com/embed/DQ6Cjq6diLk" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>The Timbers</h1>
              </div><!--end div class content-->
            </div><!--End Div embed-responsive-->

          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Thumping Rhythms</span>
            <p>THE TIMBERS’ thumping rhythms and big misty mountain melodies will cast you away to a sweaty, smoky,
              melting-pot of folk, roots and Celtic bushman brassy punk. They rollick and hammer their way through live
              gigs with abundant energy and have become festival favourites throughout Australia.</p>

          </div>
          <!-- card content -->

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/LR6xXs4lDsA" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>Z-STAR Trinity</h1>

              </div>
            </div>

          </div>
          <!-- card image -->
          <div class="card-content">
            <span class="card-title">Exhilarating to Watch</span>
            <p>Shaking up the Australian blues scene, award-winning international artist Zee Gachette will be setting
              the stage alight with her high octane energy modern blues, psyche rock, folk n’ funk. Zee’s inimitable
              talent for improvising onstage is simply exhilarating to watch, inspiring standing ovations from music
              legends like Jimmy Page (Led Zeppelin), Roger Daltrey (The Who) and Amy Winehouse. A show not to be
              missed!
            </p>
          </div>
          <!-- card content -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/JAdVqLMdDhY" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>Dubarray</h1>

              </div>
            </div>

          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Uplifting, Soulful & Euphoric</span>
            <p>Uplifting, Soulful & Euphoric, Dubarray combine a fresh fusion of boundary bending world music that
              infuses such styles as trip-hop, funk, reggae, dancehall, drum & bass, house and tribal grooves layered on
              a bed electronic ambience and organic undertones.</p>


          </div>
          <!-- card content -->

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/HUC7nfQxVDI" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>The Sexicclesiastes</h1>


              </div>
            </div>

          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Psychedelic Punk Folk</span>
            <p>Having been described as a "raucous circus of hyper speed gypsy rock” embracing "just about every element
              of theatrical rock & roll in existence”, this psychedelic punk folk outfit has been bringing their
              vigorous foot stomping hectic good times tunage to Palm Creek for at least 15 years. The heat has caused
              their memories to be a little hazy. </p>
          </div>
          <!-- card content -->

        </div>
      </div>
    </div><!--end row-->

    <!-- blogdetails list Pagnation -->
    <div class="winnerpagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">

      <ul class="winnerpagination">
        <li class="winnerpagination-item--wide first"> <a class="winnerpagination-link--wide first"
            href="#">Previous</a> </li>
        <li class="winnerpagination-item first-number"> <a class="winnerpagination-link" href="#">1</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">2</a> </li>
        <li class="winnerpagination-item is-active"> <a class="winnerpagination-link" href="#">3</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">4</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">5</a> </li>
        <li class="winnerpagination-item--wide last"> <a class="winnerpagination-link--wide last" href="#">Next</a>
        </li>
      </ul>

    </div>
    <!--End of blogdetails list pagnation-->


  </div><!--end container-->
</section>
<script src="script.js"></script>