<div class="container-fluid">


  <!-- video section start -->

</div>




<!--Card for list of Quiz-->
<section class="dark">
  <div class="container py-4">
    <article class="postcard dark green">
      <a class="postcard__img_link" routerLink="/blogdetails">
        <img class="postcard__img" src="../../../assets/img/science-club.jpg" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title green"><a routerLink="/blogdetails">Science Club</a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>August 1, 2023
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">Discover the wonders of biology in this nature-themed quiz! From ecosystems to cellular structures, this quiz will challenge your knowledge of the living world. Join the Science Club's quiz starting on August 1st and concluding on August 10th. Unleash your inner biologist and compete for the top spot!</div>
          <button data-testid="" class=""><img
            style="width: 25px; height: 25px; border-radius: 50%;" src="../../../assets/img/logo-coin.jpg"
            alt="CREDITS" class=""><span
            style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">40000</span></button>
        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-play mr-2"></i>10</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>15 mins.</li>
          <li routerLink="/challenge/join-challenge" style="background-color: #004a54; color: azure; border-radius: 10px;" class="tag__item play green">
            <i class="fas fa-tag mr-2"></i>START QUIZ
          </li>
        </ul>
      </div>
    </article>

    <div class="card-content">
      <h1 style="color: azure;" class="card-title">Discovering the Wonders of the Universe</h1>
      <p>Join our Science Club as we embark on an awe-inspiring journey to explore the mysteries of the universe. From space exploration to celestial bodies, delve into the fascinating realm of astronomy and expand your cosmic knowledge. Let your curiosity reach for the stars!
      </p>
    </div>


  </div>
</section>


<section class="blogdetails">
  <div class="container">
    <div class="section-title">

      <p style="text-align: center;">More content about the quiz</p>

    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="280" height="157" src="https://www.theta.tv/video/vidw1i9kf4vbuaj8vqn" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>Wonders of the Universe</h1>
              </div><!--end div class content-->
            </div><!--End Div embed-responsive-->

          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Unleashing the Power of Chemistry</span>
            <p>The Science Club invites you to unlock the secrets of chemistry in our hands-on and interactive sessions. From chemical reactions to molecular structures, delve into the world of elements and compounds. Join us to witness the magic of atoms and molecules in action!</p>

          </div>
          <!-- card content -->

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.theta.tv/video/vidchsxp311qvdesw2r" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>Microbiology</h1>

              </div>
            </div>

          </div>
          <!-- card image -->
          <div class="card-content">
            <span class="card-title">The Marvels of Microbiology</span>
            <p>Dive into the microscopic world with the Science Club as we uncover the mysteries of microorganisms. From bacteria to viruses, explore the role of microbes in health, environment, and industry. Join us to understand the hidden impact of these tiny yet mighty life forms.
            </p>
          </div>
          <!-- card content -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.theta.tv/video/vid1r02y645qxftm4cy" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>Biology Adventures</h1>

              </div>
            </div>

          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Exploring Life: Biology Adventures</span>
            <p>Get ready for thrilling biological explorations with the Science Club! From the wonders of ecosystems to the intricacies of cellular life, join us in unraveling the diverse web of living organisms. Discover the beauty and complexity of life on our planet.</p>


          </div>
          <!-- card content -->

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card">
          <div class="card-image">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.theta.tv/video/vid71tn644x22wvtx9h" frameborder="0"
                allowfullscreen></iframe>
              <div class="content">
                <h1>Secrets of Genetics</h1>


              </div>
            </div>

          </div>
          <!-- card image -->

          <div class="card-content">
            <span class="card-title">Unraveling the Secrets of Genetics</span>
            <p>Join the Science Club as we delve into the fascinating world of genetics. Explore the mysteries of DNA, genes, and heredity. From genetic engineering to inheritance patterns, uncover the fundamental building blocks of life and their implications. Step into the realm of genetic discovery! </p>
          </div>
          <!-- card content -->

        </div>
      </div>
    </div><!--end row-->

    <!-- blogdetails list Pagnation -->
    <div class="winnerpagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">

      <ul class="winnerpagination">
        <li class="winnerpagination-item--wide first"> <a class="winnerpagination-link--wide first"
            href="#">Previous</a> </li>
        <li class="winnerpagination-item first-number"> <a class="winnerpagination-link" href="#">1</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">2</a> </li>
        <li class="winnerpagination-item is-active"> <a class="winnerpagination-link" href="#">3</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">4</a> </li>
        <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">5</a> </li>
        <li class="winnerpagination-item--wide last"> <a class="winnerpagination-link--wide last" href="#">Next</a>
        </li>
      </ul>

    </div>
    <!--End of blogdetails list pagnation-->


  </div><!--end container-->
</section>
<script src="script.js"></script>