<div *ngIf="isTeacher; else studentContent">
    <!--Teacher Header-->
    <div class="container-fluid">
        <!-- NavBar for Teacher's Dashboard -->
        <div class="row qz-bg-blue">
          <div class="col"></div>
          <div class="col-10">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top custom-navbar"
              style="padding-left: 20px; padding-right: 20px;">
              <div class="navbar-brand">
                <h2 class="text-white" routerLink="/teacherdashboard/quiztable"
                  style="cursor: pointer; font-family: 'Montserrat', sans-serif; font-size: 30px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; color: #1e293b; text-shadow: 2px 2px 0 #fa8110;">
                  ThetaQuest</h2>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
              </button>
              <div class="nav-center">
      
                <!-- Change .nav-center button padding to 2px instead of 50 -->
                <div class=""><button data-testid="" class=""><img style="width: 25px; height: 25px; border-radius: 50%;"
                      src="../../../assets/img/logo-coin.jpg" alt="CREDITS" class=""><span
                      style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">4000</span></button>
                </div>
    
              </div>
              <div class="collapse navbar-collapse navbar-default float-right" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto topnav text-white">
                  <!-- <li class="nav-item px-2"><a class="nav-link" routerLink="/challenge/join-challenge">Play</a></li> -->
                  <li style="color: #fa8110;" class="nav-item px-2"><a class="nav-link" routerLink="teacherdashboard/quiztable">Quizzes</a>
                  </li>
                  <li class="nav-item px-2"><a class="nav-link" routerLink="teacherdashboard/challengetable">Challenges</a></li>
                  <li class="nav-item px-2"><a class="nav-link" routerLink="/quiz/create">Create Quiz</a></li>
                  <li class="nav-item px-2"><button class="btn qz-btn qz-bg-white" (click)="logout()">Logout</button></li>
                  <!-- <li><a routerLink="teacherprofile">Profile</a></li> -->
                </ul>
              </div>
            </nav>
          </div>
          <div class="col"></div>
        </div>
        
      </div>
</div>
<ng-template #studentContent>
    <!--Student Header -->
    <div class="container-fluid">
        <div class="row qz-bg-blue">
          <div class="col"></div>
          <div class="col-10">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top custom-navbar">
              <div class="navbar-brand">
                <h2 class="text-white" routerLink="/studentdashboard/studentchallengetable"
                  style="cursor: pointer; font-family: 'Montserrat', sans-serif; font-size: 30px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; color: #1e293b; text-shadow: 2px 2px 0 #fa8110;">
                  ThetaQuest</h2>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="nav-center">
                <div class=""><button data-testid="" class=""><img style="width: 25px; height: 25px; border-radius: 50%;"
                      src="../../../assets/img/logo-coin.jpg" alt="CREDITS" class=""><span
                      style="font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; color: #312c25; text-shadow: 1px 1px 0 #333; border-radius: 5px;">4000</span></button>
                </div>
              </div>
              <div class="collapse navbar-collapse float-right" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto topnav text-white">
                  <li style="background-color: rgb(25, 226, 25); border-radius: 10px;" class="nav-item px-2"><a
                      class="nav-link" routerLink="/challenge/join-challenge">Play</a></li>
                  <li class="nav-item px-2"><a class="nav-link" routerLink="/participate">Participate</a></li>
                  <li class="nav-item px-2"><a class="nav-link"
                      routerLink="/studentdashboard/studentchallengetable">Challenges</a></li>
                  <li class="nav-item px-2"><button (click)="logout()" class="btn qz-btn qz-bg-white">Logout</button></li>
                  <!-- <li><a routerLink="teacherprofile">Profile</a></li> -->
                </ul>
              </div>
            </nav>
          </div>
          <div class="col"></div>
        </div>
        
      </div>
</ng-template>