

/* Footer code */
.footer {
    background-color: #004a54;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer h4 {
    margin-bottom: 20px;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  
  