
  <div class="container-fluid" id="displayquiz">
    <h1 style="margin-top: 70px; margin-left: 90px;"><b>{{title}}</b></h1>
    <div style="margin-top: 30px; margin-left: 90px;" class="table-box qz-card">
      <table cellpadding="10 ">
        <thead class="qz-bg-blue text-white">
          <tr>
            <th>Sr.No</th>
            <th>Question</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
            <th>Correct Answer</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of quiz_info">
            <!-- iterate the `tableData` array -->
            <ng-container *ngFor="let data of item.questions let i= index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{data.title}}</td>
                <td>{{data.options.option1}}</td>
                <td>{{data.options.option2}}</td>
                <td>{{data.options.option3}}</td>
                <td>{{data.options.option4}}</td>
                <td>{{data.answers}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>