.side-div{
    background-color: #e4e4e4;
    min-height: 93vh;
    max-height: 93vh;
    height: 93vh;
}
.questions-container{
    min-height: 80%;
    max-height: 80%;
    height: 80%;
    overflow-y:scroll;
    overflow-x:hidden;
}