.circle-div{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 10px solid blue;
}

.table-box{
    width: 90%;
    height: 330px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.3);

  }
  table{
    width: 100%;
  }
  table,th,td{
    // border: 1px solid #005277;
    text-align: center;
  }
  thead{
    // background: #d7d8d8;
    color: rgb(3, 3, 3);
    
  } 

  .data-card{
    width: 100%;
  }