<!-- ======= Winners Boxes Section ======= -->
<section id="about-boxes" class="about-boxes">
    <div class="container">
  
      <div class="section-title">
  
        <p style="text-align: center;">ThetaQuest Winners</p>
  
      </div>
  
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div id="card-title">
              <h2 style="text-align: center;">Mary Larence</h2>
            </div>
            <img src="../../../assets/img/img1.jpeg" class="card-img-top" alt="...">
  
            <div class="card-body">
              <h5 class="card-title"><button>8000 QET</button></h5>
              <p class="card-text"><b>WINNER:</b> <br> Amazon quiz at closing up learning gaps
                regardless of locations and
                solve educational problems using technology and trained professionals. </p>
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div id="card-title">
              <h2 style="text-align: center;">John Bassy</h2>
            </div>
            <img src="../../../assets/img/img1.jpeg" class="card-img-top" alt="...">
  
            <div class="card-body">
              <h5 class="card-title"><button>5000 QET</button></h5>
              <p class="card-text"><b>WINNER:</b> <br> Amazon quiz at closing up learning gaps
                regardless of locations and
                solve educational problems using technology and trained professionals. </p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div id="card-title">
              <h2 style="text-align: center;">Brown smith</h2>
            </div>
            <img src="../../../assets/img/img1.jpeg" class="card-img-top" alt="...">
  
            <div class="card-body">
              <h5 class="card-title"><button>300 QET</button></h5>
              <p class="card-text"><b>WINNER:</b> <br> Amazon quiz at closing up learning gaps
                regardless of locations and
                solve educational problems using technology and trained professionals. </p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Winner list Pagnation -->
      <div class="winnerpagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">
  
        <ul class="winnerpagination">
          <li class="winnerpagination-item--wide first"> <a class="winnerpagination-link--wide first" href="#">Previous</a> </li>
          <li class="winnerpagination-item first-number"> <a class="winnerpagination-link" href="#">1</a> </li>
          <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">2</a> </li>
          <li class="winnerpagination-item is-active"> <a class="winnerpagination-link" href="#">3</a> </li>
          <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">4</a> </li>
          <li class="winnerpagination-item"> <a class="winnerpagination-link" href="#">5</a> </li>
          <li class="winnerpagination-item--wide last"> <a class="winnerpagination-link--wide last" href="#">Next</a> </li>
        </ul>
  
      </div>
      <!--End of quiz list pagnation-->
  
    </div>
  </section><!-- End Winners Boxes Section -->