
/*--------------------------------------------------------------
# Winners Boxes
--------------------------------------------------------------*/

.about-boxes {
    background-size: cover;
    padding: 60px 0 30px 0;
    position: relative;
  }
  
  .about-boxes::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background: url("../winners.png") center, top right;
    z-index: 9;
    background-image: url("/src/assets/img/winners.png");
    background-size: cover;
    background-position: center;
    padding: 50px;
  }
  
  .about-boxes .container, .about-boxes .container-fluid {
    position: relative;
    z-index: 10;
  }
  
  .about-boxes .card {
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 5%;
    border-radius: 30px;
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
    transition: transform 0.2s ease-in-out;
  }
  .about-boxes .card:hover {
    transform: translateY(-20px);
  }
  
  
  .about-boxes .card-body {
    padding-top: 12px;
  }
  
  .about-boxes .card-title {
    font-weight: 700;
    text-align: center;
  }
  
  .about-boxes .card-title a {
    color: gold;
  }
  
  .about-boxes .card-title a:hover {
    color: gold;
  }
  
  .about-boxes .card-text {
    color: black;
  }
  .about-boxes img {
    border-radius: 40px;
  }
  
  .about-boxes .card:hover .card-icon i {
    background: #fff;
    color: gold;
  }
  
  @media (max-width: 1024px) {
    .about-boxes {
      background-attachment: scroll;
    }
  }
  
  