.table-box{
    width: 90%;
    // height: 330px;
    // overflow-y: scroll;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.3);

  }
  table{
    width: 100%;
  }
  table,th,td{
    // border: 1px solid #005277;
    text-align: center;
  }
  thead{
    // background: #d7d8d8;
    color: rgb(3, 3, 3);
    
  } 
  .labelCorrectAns{
    height: 15px;
    width: 30px;
    background-color: #006400;
    float:right;

  }
  .labelWrongAns{
    height: 15px;
    width: 30px;
    background-color:#8B0000;
    float:right;

  }

  .playlist {
    background-image: url("../../../../../assets/img/uses2.png");
  background-size: cover;
  background-position: center;
  padding: 50px;
  }
