<div class="container-fluid" id="hostquiz">

  <br>
  <br>

  <div class="row">
      <div class="col"></div>
      <div class="col-11 col-xl-10">
        

          <div class="card qz-card qz-card-rounded qz-card-shadow mt-2 mx-4 p-5">
              <h3>Create Quiz Details</h3>
              <p>After hosting a quiz, It is advisable to create more details about the quiz.</p>
              
              <form>

                  <!-- Challenge Title -->
                  <div class="form-group">
                      <label class="qz-form-label" for="inputTitle">Title:</label>
                      <input type="text" formControlName="title" [class.is-invalid]="title.invalid && title.touched"
                          [class.is-valid]="title.valid && title.touched" class="form-control qz-text-input"
                          id="inputTitle" placeholder="Enter title for challenge..">
                      <div *ngIf="title.invalid && title.touched">
                          <small class="text-danger mx-2" *ngIf="title.errors?.required">Challenge title is
                              required.</small>
                      </div>
                  </div>
                  <!-- Challenge Description -->
                  <div class="form-group">
                      <label class="qz-form-label" for="inputDesc">Desciption:</label>
                      <textarea type="text" formControlName="description"
                          [class.is-valid]="description.valid && description.touched"
                          class="form-control qz-text-input" id="inputDesc"
                          placeholder="Enter desciption for challenge.."></textarea>
                  </div>
                  
                  

                  
                  <!-- Video section -->

                  <br>
                  <h5>Video section:</h5>
                  <p>Explain more about your quiz with Vidoes</p>
                  <div class="row m-7">
                      <!-- Datatable for list of quizzes -->
                      <div class="col">
                          <div class="qz-card table-box qz-rounded-corner-light">
                              <table cellpadding="10">
                                  <thead class="qz-bg-blue text-white">
                                      <tr>
                                          <th>List</th>
                                          <th>Title</th>
                                          <th>Discription</th>
                                          <th>Link</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr class="thin-down-border" *ngFor="let row of hostQuizForm.controls.rowsData.controls; let i = index">
                                          <td>{{ i + 1 }}</td>
                                          <td>
                                              <input type="text" [formControl]="row" required>
                                          </td>
                                          <td>
                                            <input type="text" [formControl]="row" required>
                                        </td>
                                        <td>
                                          <input type="url" [formControl]="row" required>
                                      </td>
                                      </tr>
                                  </tbody>
                              </table>
                              <button class="add-row-button" (click)="addRow()">Add Row</button>

                              <!-- <div class="sum-container">
                                  <label class="sum-label">Total Sum:</label>
                                  <span class="sum-value">{{ sum }}</span>
                              </div> -->
                          </div>
                      </div>
                  </div>

                  <!-- Image field -->
                  <div class="form-group">
                      <br>
                      <h5>Display Image:</h5>
                      <input type="file" formControlName="image" class="form-control-file" id="image"
                          style="border: 1px solid #ccc; padding: 10px; border-radius: 4px; background-color: #f8f8f8;">
                  </div>



                  <!--End winners selection-->

                  <button [disabled]="!hostQuizForm.valid" type="submit" 
                      class="btn btn-primary mt-5 btn-block qz-btn qz-bg-blue">Host</button>

                  <!--<button [disabled]="!hostQuizForm.valid" type="submit" (click)="onClickSave()"
                      class="btn btn-primary mt-5 btn-block qz-btn qz-bg-blue">Host</button>-->
              </form>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>

<div *ngIf="isError" class="alert alert-danger alert-dismissible mt-alerts fade show mx-4 qz-border qz-card-shadow"
  role="alert">
  <h4 class="alert-heading">Error !</h4>
  <p>{{errorMessage}}</p>
  <button (click)="dismissErrorAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="isSuccess" class="alert alert-success alert-dismissible mt-alerts fade show mx-4 qz-border qz-card-shadow"
  role="alert">
  <h4 class="alert-heading">Success !</h4>
  <p>Quiz hosted successfully! You will automatically get redirected...</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>