h2 {
  color: azure;
  text-align: center;
  // font-family: "Times New Roman", Times, serif;
  // padding: 30px 30px 30px 30px;
}

h1 {
  color: greenyellow;
  text-align: center;
  // font-family: "Times New Roman", Times, serif;
  // padding: 30px 30px 30px 30px;
}

.table {
  color: aliceblue;
}
