// nav{
//   // display: flex;
//   width: 100%;
//   // align-items: center;
//   // justify-content: space-between;
//   // padding: 0 50px 0 100px;
//   // flex-wrap: wrap;
// }
// // nav .logo{
// //   color: #fff;
// // }
// // nav ul{
// //   display: flex;
// //   flex-wrap: wrap;
// //   list-style: none;
// // }
// // nav ul li{
// //   // margin: 0 5px;
// // }
// nav ul li a{
//   color: #f2f2f2;
//   text-decoration: none;
//   font-size: 18px;
//   // font-weight: 500;
//   // padding: 8px 15px;
//   border-radius: 5px;
//   letter-spacing: 1px;
//   transition: all 0.1s ease;
// }
// nav ul li a.active,
// nav ul li a:hover{
//   color: #111;
//   background: #fff;
// }


.nav-center {
    text-align: center;
    flex: 1;
  }
  
  .nav-center button {
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  
  section{
    background-color: #f2f2f2;
  }
  
  
  nav{
    width: 100%;
  }
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.1s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #f2f2f2;
  }
  
  .illustrations{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  
  