<ng-container *ngIf="_authService.isLoggedIn(); then loggedIn else notLoggedIn"></ng-container>

<ng-template #loggedIn>
    <div *ngIf="userData.role === 'teacher'">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <app-chatbot></app-chatbot>

    </div>
    <div *ngIf="userData.role === 'student'">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <app-chatbot></app-chatbot>

    </div>
</ng-template>

<ng-template #notLoggedIn>
    <div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <app-chatbot></app-chatbot>

    </div>
</ng-template>