<header class="header">
  <div class="row qz-bg-blue">
    <div class="col"></div>
    <div class="col-10">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top custom-navbar">
        <div class="navbar-brand">
          <h2 class="text-white">ThetaQuest</h2>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse navbar-default float-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto topnav text-white">

            <li class="nav-item px-2"><button class="btn qz-btn qz-bg-blue text-white" routerLink="/login">Log
                in</button></li>
            <li class="nav-item px-2"><button class="btn qz-btn qz-bg-white" routerLink="/register">Sign up</button>
            </li>
            <!-- <li><a routerLink="teacherprofile">Profile</a></li> -->
          </ul>
        </div>
      </nav>
    </div>
    <div class="col"></div>
  </div>
</header>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <!-- <h1>The best way to find volunteering opportunities, fast.</h1> -->
    <a href="#contact" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
  </div>
</section><!-- End Hero -->

<!--Teacher profiles-->


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
        <ul class="list-unstyled">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Connect With Us</h4>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Footer Menu</h4>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
