.chart-container{
    width: 95% !important;
    height: 40vh !important;
    // background-color: rgb(252, 248, 6);
}
.demo-charts {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

.display-block{
    display: block;
}

.display-hide{
    display: none;
}